---
import Layout from "../layouts/Layout.astro";
import Prompt from "../components/Prompt";
---

<Layout title="gpt3 DSA Expert">
    <div class="bg-gradient-to-t from-sky-50 to-teal-200 min-h-screen">
        <Prompt client:visible />
    </div>
</Layout>
