---
import Layout from "../layouts/Layout.astro";
import Prompt from "../components/Prompt";
---

<Layout title="gpt3 DSA Expert">
    <div class="bg-gradient-to-t from-teal-200 to-sky-50 min-h-screen">
        <Prompt client:visible />
    </div>
</Layout>
