---
const githubUserName = "Enigmage";
const name = "Ali Zaidi";
---

<footer class="flex justify-center items-center">
    <p>
        Made by <a href={`https://github.com/${githubUserName}/`}>{name}</a> with
        <a href="https://astro.build/">Astro</a>
    </p>
</footer>
