---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
        <!---Add Footer here-->
    </body>
</html>
<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");
    :root {
        /* --accent: 124, 58, 237; */
        /* --accent-gradient: linear-gradient( */
        /*     45deg, */
        /*     rgb(var(--accent)), */
        /*     #da62c4 30%, */
        /*     white 60% */
        /* ); */
        --white-gradient2: linear-gradient(
            to left top,
            rgba(255, 255, 255, 0.9),
            rgba(255, 255, 255, 0.5)
        );
    }
    * {
        margin: 0;
        padding: 0;
        font-family: "Manrope", system-ui, sans-serif;
        box-sizing: border-box;
        /* font-weight: bold; */
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }
    .btn {
        @apply font-bold py-2 px-4 rounded;
    }
    .btn-blue {
        @apply bg-blue-500 text-white;
    }
    .btn-zinc {
        @apply bg-zinc-500 text-white;
    }
    .btn-blue:hover {
        @apply bg-blue-700;
    }
</style>
